<!DOCTYPE html>
<html>
<head>
    <title>ESP32 Dashboard</title>
</head>

<style>
        .card {
            background: white;
            padding: 20px;
            border-radius: 12px;
            margin-bottom: 20px;
            box-shadow: 0 2px 8px rgba(0,0,0,0.15);
        }
</style>

<body>

<h2>ADC</h2>
<h3 id="adc">0</h3>

    <div class="card">
        <h2>Control del ciclo de trabajo del PWM</h2>
        <input type="range" id="pwm_slider" min="0" max="100" step="1" value="50"
               oninput="mostrarDuty(this.value)"
               onchange="enviarDuty(this.value)">        
       </div>

<h2 id="duty_value">50</h2> 
<script>

function mostrarDuty(valor) {
console.log(valor);
    document.getElementById("duty_value").innerText = valor;
}

function enviarDuty(valor) {
    fetch("/threshold", {
        method: "POST",
        headers: {
            "Content-Type": "application/json"
        },
        body: JSON.stringify({
            threshold: parseFloat(valor)
        })
    })
    .then(res => res.json())
    .then(data => {
        console.log("Threshold actualizado:", data);
    })
    .catch(err => console.error("Error POST:", err));
}



function actualizar(){
    fetch('/refresh')
        .then(res => res.json())
        .then(data => {
            let ultimo = data.adc1[data.adc1.length - 1];
            document.getElementById("adc").innerText = ultimo;
        });
}

function enviarDuty(valor) {
    fetch("/refresh", {
        method: "POST",
        headers: {
            "Content-Type": "application/json"
        },
        body: JSON.stringify({
            duty_cycle: parseFloat(valor)
        })
    })
    .then(res => {
        if (!res.ok) {
            throw new Error("HTTP error: " + res.status);
        }
        return res.json();
    })
    .then(data => {
        console.log("Duty cycle actualizado:", data);
    })
    .catch(err => console.error("Error POST dutyCycle:", err));
}




setInterval(actualizar, 1000);
</script>

</body>
</html>
